In [8]:
pip install pymongo

Requirement already satisfied: pymongo in c:\users\rober\anaconda3\envs\myenv\lib\site-packages (4.6.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\rober\anaconda3\envs\myenv\lib\site-packages (from pymongo) (2.6.1)
Note: you may need to restart the kernel to use updated packages.

In [9]:
from pymongo import MongoClient
import pymongo
client = MongoClient('localhost',27017) ## or MongoClient("localhost:27")
db= client.apan5400HW3

In [25]:
db.companies.insert_many([
    {"company": "Apple", "city":"Cupertino","state":"California","country":"USA","description":"American multinational technology company that designs, develops, and sells consumer electronics, computer software, and online services","employees":164000,"founded":1976,"revenue":394.33},
    {"company": "Microsoft", "city":"Redmond","state":"Washington","country":"USA","description":"American multinational technology company that develops, manufactures, licenses, supports, and sells computer software, consumer electronics, personal computers, and related services.","employees":221000,"founded":1975,"revenue":198.27},
    {"company": "Amazon", "city":"Seattle","state":"Washington","country":"USA","description":"American multinational technology company which focuses on e-commerce, cloud computing, digital streaming, and artificial intelligence.","employees":1541000,"founded":1994,"revenue":513.98},
    {"company": "Alphabet", "city":"Mountain View","state":"California","country":"USA","description":"American multinational technology company that specializes in Internet-related services and products, which include online advertising technologies, a search engine, cloud computing, software, and hardware.","employees":190234,"founded":1998,"revenue":282.84},
    {"company": "Alibaba Group", "city":"Hangzhou","state":"Zhejiang","country":"China","description":"Chinese multinational technology company specializing in e-commerce, retail, Internet, and technology.","employees":239740,"founded":1999,"revenue":134.57},
    {"company": "Sony Group", "city":"Tokyo","state":"Tokyo","country":"Japan","description":"Japanese multinational conglomerate that manufactures consumer and professional electronic products, is the largest video game console company and one of the most comprehensive media companies.","employees":108900,"founded":1946,"revenue":88.3},
    {"company": "Samsung Electronics", "city":"Suwon","state":"Gyeonggi","country":"South Korea","description":"South Korean multinational electronics company that is the world's largest manufacturer of mobile phones, smartphones, and memory chips.","employees":266673,"founded":1969,"revenue":245.7},
    {"company": "Mercedes-Benz Group", "city":"Stuttgart","state":"Baden-Wurttemberg","country":"Germany","description":"German multinational automotive corporation that is one of the world's leading car and truck manufacturers.","employees":172425,"founded":1926,"revenue":153.95},
    {"company": "Tesla", "city":"Austin","state":"Texas","country":"USA","description":"American company that designs and manufactures electric vehicles, battery energy storage, and related products and services.","employees":127855,"founded":2003,"revenue":81.46},
    {"company": "British Petroleum", "city":"London","state":"England","country":"UK","description":"British multinational oil and gas company involved in exploration, extraction, refining, distribution, marketing, power generation, and trading.","employees":65900,"founded":1909,"revenue":248.89},
    {"company": "China National Petroleum Corporation", "city":"Beijing","state":" ","country":"China","description":"Major national oil and gas corporation of China and one of the largest integrated energy groups in the world.","employees":1448400,"founded":1988,"revenue":411.7},
    {"company": "Saudi Aramco", "city":"Dhahran","state":"Eastern Province","country":"Saudi Arabia","description":"Saudi Arabian public petroleum and natural gas company with the world's second-largest proven crude oil reserves.","employees":66800,"founded":1933,"revenue":552.25},
    {"company": "Glencore", "city":"Baar","state":"Zug","country":"Switzerland","description":"Anglo-Swiss multinational commodity trading and mining company.","employees":135000,"founded":1974,"revenue":255.98},
    {"company": "Toyota Motor", "city":"Toyota","state":"Aichi","country":"Japan","description":"Japanese multinational automotive manufacturer and one of the largest automobile manufacturers in the world.","employees":366283,"founded":1937,"revenue":267.02},
    {"company": "Allianz", "city":"Munich","state":"Bavaria","country":"Germany","description":"German multinational financial services company with core businesses of insurance and asset management.","employees":155411,"founded":1890,"revenue":161.44}
])

InsertManyResult([ObjectId('65e3be852a93d4905b591bce'), ObjectId('65e3be852a93d4905b591bcf'), ObjectId('65e3be852a93d4905b591bd0'), ObjectId('65e3be852a93d4905b591bd1'), ObjectId('65e3be852a93d4905b591bd2'), ObjectId('65e3be852a93d4905b591bd3'), ObjectId('65e3be852a93d4905b591bd4'), ObjectId('65e3be852a93d4905b591bd5'), ObjectId('65e3be852a93d4905b591bd6'), ObjectId('65e3be852a93d4905b591bd7'), ObjectId('65e3be852a93d4905b591bd8'), ObjectId('65e3be852a93d4905b591bd9'), ObjectId('65e3be852a93d4905b591bda'), ObjectId('65e3be852a93d4905b591bdb'), ObjectId('65e3be852a93d4905b591bdc')], acknowledged=True)

In [12]:
#Print the list of companies established in the last 25 years in the descending order of revenue. 
filter_criteria = {"founded": {"$gte": 1999}}
cursor = db.companies.find(filter_criteria).sort("revenue", pymongo.DESCENDING)
for company in cursor:
    print(company["company"])

Alibaba Group
Tesla

In [15]:
#Print the total of annual revenues of the companies headquartered in Asia (China, Korea, Japan, and Saudi Arabia)
asia_revenue = db.companies.aggregate([
    {"$match": {"country": {"$in": ["China", "South Korea", "Japan", "Saudi Arabia"]}}},
    {"$group": {"_id": "company", "total_revenue": {"$sum": "$revenue"}}}
])
print(list(asia_revenue))

[{'_id': 'company', 'total_revenue': 1699.54}]

In [27]:
#Print the country in which the company that is among the world's leading car and truck manufacturers located.
filter_criteria = {"description": {"$regex": "world's leading car and truck manufacturers", "$options": "i"}}
cursor = db.companies.find(filter_criteria)
for company in cursor:
    print("Country where the company is located:", company["country"])

Country where the company is located: Germany

In [31]:
#Print the company established after 1970, which has the smallest number of employees.
filter_criteria = {"founded": {"$gt": 1970}}
cursor = db.companies.find(filter_criteria, {"_id": 0, "company": 1, "employees": 1})
smallest_company = None
smallest_employees = float('inf')
for company in cursor:
    if company["employees"] < smallest_employees:
        smallest_employees = company["employees"]
        smallest_company = company["company"]
if smallest_company:
    print("Company with the smallest number of employees:", smallest_company)
    print("Number of employees:", smallest_employees)

Company with the smallest number of employees: Tesla
Number of employees: 127855

In [37]:
#Print the annual revenues and the founding years of the automotive companies.
filter_criteria = {"description": {"$regex": "automotive|car|vehicle", "$options": "i"}}
cursor = db.companies.find(filter_criteria)
print("Annual revenues and founding years of automotive companies:")
for company in cursor:
    print("Company:", company["company"])
    print("Annual Revenue:", company["revenue"])
    print("Founding Year:", company["founded"])
    print()

Annual revenues and founding years of automotive companies:
Company: Tesla
Annual Revenue: 81.46
Founding Year: 2003

Company: Toyota Motor
Annual Revenue: 267.02
Founding Year: 1937

Company: Mercedes-Benz Group
Annual Revenue: 153.95
Founding Year: 1926

Company: Tesla
Annual Revenue: 81.46
Founding Year: 2003

Company: Toyota Motor
Annual Revenue: 267.02
Founding Year: 1937